/* You can add global styles to this file, and also import other style files */

@import "./app/shared/custom.scss";

button,
.btn {
  cursor: pointer;
}

button[disabled],
.btn[disabled] {
  cursor: default;
}

.spinner-container {
  width: 100%;
}

.spinner {
  margin: 0 auto;

  border: 5px solid $gray-100;
  border-top: 5px solid $gray-500;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
