.alert-container {
    position: absolute;
    top: 30px;
    z-index: 30;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
}

.alert {
    box-shadow: 0 0 8px #808080;
}

.alert .btn {
    padding: 0;
}

.detail {
    font-size: .9em;
}
