<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    {{ title }}
  </a>
</nav>

<div class="container-fluid pt-3">
  {{#unless auth}}
  <p>Google Fit を利用する場合は、あらかじめ
    <a href="/auth/google">Google にログイン</a> してください</p>
  {{/unless}}
  <h3>Google Home に話しかけてみましょう</h3>
  <ul>
    <li>OK Google!! テレビをつけて!</li>
    <li>OK Google!! テレビを消して!</li>
    <li>OK Google!! Rebuild fm を流して!</li>
    {{#if auth}}
    <li>ねぇ Google、健康体操を開始して</li>
    <li>ねぇ Google、健康体操を終了して</li>
    {{/if}}
  </ul>
</div>