<!--The content below is only a placeholder and can be replaced.-->
<app-nav [title]="title"></app-nav>

<div class="container-fluid pt-3 pb-3">
  <app-menus></app-menus>

  <div class="link">
    <div class="card" style="width: 18rem;">
      <i class="material-icons md-120">queue_music</i>
      <div class="card-body">
        <h5 class="card-title">Stream Music</h5>
        <p class="card-text">Web 上の音楽を Google Home でストリーム再生する</p>
        <a href="/stream" class="btn btn-primary">Stream Music</a>
      </div>
    </div>
  </div>
</div>
