@import '../../shared/custom.scss';

.card {
  .icon {
    background-color: $gray-600;
    color: $gray-100;
    text-align: center;
  }

  .material-icons {
    padding: 30px 0;
  }

  .image-icons {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
  }
}

.material-icons.md-120 {
  font-size: 120px;
}
