<div class="menu jumbotron">
  <h3 class="title">Google Home に話しかけてみましょう</h3>
  <ul class="pt-3">
    <li>OK Google!! テレビをつけて!</li>
    <li>OK Google!! テレビを消して!</li>
    <li>OK Google!! Rebuild fm を流して!</li>
    <li>OK Google!! 暖房をつけて!</li>
    <li>OK Google!! 冷房をつけて!</li>
    <li>OK Google!! エアコンを消して!</li>
    <li>OK Google!! 電気をつけて!</li>
    <li>OK Google!! 電気を消して!</li>
    <li *ngIf="profile.authenticated">ねぇ Google、健康体操を開始して</li>
    <li *ngIf="profile.authenticated">ねぇ Google、健康体操を終了して</li>
  </ul>
  <p class="login-message" *ngIf="!profile.authenticated">Google Fit を利用する場合は、あらかじめ
    <a href="/auth/google">Google にログイン</a> してください</p>
</div>
